{{ define "title" }}User{{ end }}

<!-- Content -->
{{ define "content" }}

<!-- Create -->
<div class="mb-3 float-right">{{ template "user-create" }}</div>

<!-- Table -->
<table id="" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $user := .Users}}
    <tr>
      <td>{{$index}}</td>
      <td>{{$user.Name}}</td>
      <td>{{$user.Email}}</td>
      <td>{{$user.Role}}</td>
      <td>{{$user.Status}}</td>
      <td>
        <!-- Edit -->
        {{ template "user-edit" }}
        <!-- Delete -->
        {{ template "user-delete" }}
      </td>
    </tr>
    {{end}}
  </tbody>
  <tfoot>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
<!-- /.table -->

{{ end }}
<!-- /.content -->

{{ template "layouts/admin/app.html" . }}
