{{ define "title" }}Product{{ end }}

<!-- Content -->
{{ define "content" }}

<!-- Create -->
<div class="mb-3 float-right">{{ template "product-create" }}</div>

<!-- Table -->
<table id="" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $product := .Products}}
    <tr>
      <td>{{$index}}</td>
      <td>{{$product.Name}}</td>
      <td>{{$product.CategoryID}}</td>
      <td>{{$product.Description}}</td>
      <td>{{$product.Price}}</td>
      <td>{{$product.Stock}}</td>
      <td>
        <!-- Edit -->
        {{ template "product-edit" }}
        <!-- Delete -->
        {{ template "product-delete" }}
      </td>
    </tr>
    {{end}}
  </tbody>
  <tfoot>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
<!-- /.table -->

{{ end }}
<!-- /.content -->

{{ template "layouts/admin/app.html" . }}
